:root{
  color-scheme: dark;
}

html{
  --color-accent: rgb(89, 212, 253);
  accent-color: var(--color-accent);

}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}
body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    accent-color: var(--color-accent);
    margin: 30px;
}

/* Formatting Menu bar */

nav {
  margin-top: 80px;
  display: flex;
  margin-bottom: 100px;
  /* border-bottom: 1px solid oklch(80% 3% 200); */
  --border-color: oklch(50% 10% 200 / 40%);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a:hover {
  border-bottom: 4px solid var(--color-accent);
  /* background-color: oklch(from var(--color-accent) 95% 5% h); */ 
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);

}

nav a.current {
  border-bottom: 4px solid; 
  border-bottom-color: var(--border-color);
}


img{
  max-width: 500px;
  margin-inline: auto auto;
}



/* contact page */

form{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}
label{
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;


}

/* Format the switch */
label.color-scheme {
  position: absolute;    
  top: 1rem;             
  right: 1rem;           
  
  font-size: 80%;       
  font-family: inherit; 
}


/* Projects */
.projects{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 1em;
}
.projects article {
  grid-template-rows: subgrid;
  grid-row: span 3;
}

.projects img{
  width: 300px;
  height: 200px;
  position: relative;
}

.projects article h2 {
  margin: 0;
}

#profile-stats dl{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

#profile-stats dt{
    grid-row: 1;
    font-weight: bold; /* optional styling */
    text-align: center;
    color: gray;

}

#profile-stats dd{
  grid-row: 2;
  text-align: center;
}




