:root{
  color-scheme: dark;
}

html{
  --color-accent: rgb(89, 212, 253);
  accent-color: var(--color-accent);

}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}
body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    accent-color: var(--color-accent);
    margin: 30px;
}

/* Formatting Menu bar */

nav {
  margin-top: 80px;
  display: flex;
  margin-bottom: 100px;
  /* border-bottom: 1px solid oklch(80% 3% 200); */
  --border-color: oklch(50% 10% 200 / 40%);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a:hover {
  border-bottom: 4px solid var(--color-accent);
  /* background-color: oklch(from var(--color-accent) 95% 5% h); */ 
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);

}

nav a.current {
  border-bottom: 4px solid; 
  border-bottom-color: var(--border-color);
}


img{
  max-width: 500px;
  margin-inline: auto auto;
}



/* contact page */

form{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}
label{
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;


}

/* Format the switch */
label.color-scheme {
  position: absolute;    
  top: 1rem;             
  right: 1rem;           
  
  font-size: 80%;       
  font-family: inherit; 
}


/* Projects */
#projects-pie-plot{
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;

}

.projects{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 1em;
}
.projects article {
  grid-template-rows: subgrid;
  grid-row: span 3;
}

.projects img{
  width: 300px;
  height: 200px;
  position: relative;
}

.projects article h2 {
  margin: 0;
}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}

path {
  transition: 300ms;
  cursor: pointer;
}


.selected {
  --color: oklch(60% 45% 0) !important;

  &:is(path) {
    fill: var(--color);
  }
}


.legend{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  border: 1px solid #ccc;  
  border-radius: 8px;
  padding: 1em;
  margin-top: 1em;
  flex: 1;
}

.legend em{
  color: grey;
}

.swatch{
  display: inline-block;  
  width: 25px;
  aspect-ratio: 1/1;
  background-color: var(--color);
  border-radius: 50%;

}

.corlorlegends{
  display: flex;
  align-items: center;
  gap: 0.5em;

}

.container{
  display: flex;
  align-items: center;
  gap:  2em;
  flex-wrap: wrap;
  
}



#profile-stats dl{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

#profile-stats dt{
    grid-row: 1;
    font-weight: bold; /* optional styling */
    text-align: center;
    color: gray;

}

#profile-stats dd{
  grid-row: 2;
  text-align: center;
}


/* Style meta index.html */
#meta h1 {
  font-size: 2.5rem;
  color: var(--color-accent);
  margin-bottom: 0.2em;
}

#meta h2 {
  font-size: 1.25rem;
  font-weight: normal;
  color: lightgray;
  margin-top: 0;
}

#stats dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5rem 1rem;
}

#stats dt {
  font-weight: bold;
  color: var(--color-accent);
}

#stats dd {
  margin: 0;
}

